<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adsSong">
            <h2><span>Ads Song</span> {{adsSong.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Ads Image</span></dt>
                <dd>
                    <span>{{adsSong.adsImage}}</span>
                </dd>
                <dt><span>Ads Content</span></dt>
                <dd>
                    <span>{{adsSong.adsContent}}</span>
                </dd>
                <dt><span>Song Id</span></dt>
                <dd>
                    <span>{{adsSong.songId}}</span>
                </dd>
                <dt><span>Song Title</span></dt>
                <dd>
                    <span>{{adsSong.songTitle}}</span>
                </dd>
                <dt><span>Song Image</span></dt>
                <dd>
                    <span>{{adsSong.songImage}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ads-song', adsSong.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
